$color-turcoise-light:  rgb(159, 189, 189);
$color-turcoise-dark:  rgb(157, 203, 203);
$color-citrine-light: rgb(240, 240, 115);
$color-citrine-dark:  rgb(245, 245, 182);
$color-light-grey: rgb(234, 234, 234);
$color-grey: rgb(93, 93, 93);
$color-dark-grey: rgba(234, 234, 234, 0.227);
$color-brown: rgb(120, 69, 33);
$color-bisque: bisque;
$color-bisque-dark: rgb(245, 211, 170);
$color-orange: orange;
$color-grey: rgb(119, 117, 117);
$color-lightred: rgb(231, 98, 98);
