
$color-white: rgb(246, 252, 254);
$color-white-navigation: rgb(239, 239, 239);
$color-black: rgb(44, 44, 44);

$color-turcoise: rgb(53, 235, 237);
$color-light-grey: rgb(170, 174, 174);
$color-dark-grey: rgb(66, 66, 64);

$color-darker-blue: rgb(2, 129, 245);
$color-medium-blue: rgb(107, 183, 253);
$color-dark-blue: rgb(11, 134, 246);
$color-light-blue: rgb(83, 172, 254);
$color-verylight-blue: rgb(233, 244, 254);

$color-dark-orange: rgb(254, 147, 93);
$color-light-orange: rgb(253, 169, 92);
$color-very-light-orange: rgb(255, 248, 245);
$color-yellow: yellow;

$color-medium-green: rgb(54, 239, 141);
$color-light-green: rgb(232, 252, 241);;
$color-dark-green: rgb(14, 116, 62);


