@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.main__heading {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.8rem;
  text-align: center;
  color: rgb(154, 243, 243);
}

.main__container {
  display: flex;
}

.main .operations {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  display: none;
}

.main .operations__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 40px);
  grid-gap: 5px;
  margin-bottom: 2rem;
}

.main .operations__element {
  background-color: bisque;
  border: 2px solid rgb(237, 202, 158);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  list-style: none;
  grid-row: 1/2;
}

.main .operations__element--last {
  grid-row: 2/3;
  grid-column: 1/3;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .results {
  width: 50%;
  position: relative;
  display: none;
}

.main .results__timer {
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
}

.main .results__dialog label {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  height: 70px;
}

.main .results__dialog label input {
  width: 30%;
  margin-top: 20px;
}

.main .results__buttonSubmit {
  width: 200px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: bisque;
  border: 2px solid rgb(237, 202, 158);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: bisque;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

.header {
  height: 95vh;
  position: relative;
  background-color: rgb(154, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.header__heading--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation-name: moveFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-bottom: 3rem;
}
.header__heading--sub {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1rem;
}
.header__heading--sub.tooltip {
  position: relative;
}
.header__heading--sub.tooltip .tooltip--content {
  display: none;
}
.header__heading--sub.tooltip:hover .tooltip--content {
  display: block;
  font-size: 1rem;
  background: #fff;
  color: grey;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  max-height: 130px;
  overflow: auto;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
}
.header__heading--sub.tooltip:hover .tooltip--content ul {
  list-style: none;
}
.header__heading--sub.tooltip:hover .tooltip--content ul li {
  text-align: start;
  margin-bottom: 5px;
}
.header__buttonStart {
  border: none;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1rem;
  border-radius: 10px;
  background-color: bisque;
  border: 2px solid rgb(237, 202, 158);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: bisque;
}

a:hover,
a:focus {
  text-underline-offset: 0.25em;
}

/*# sourceMappingURL=index.css.map */
