@import 'base';


body {
    box-sizing: border-box;
    padding: 3rem;
}

header {
    height: 95vh;
    position: relative;
    background-color:$color-turcoise-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 100%);

    .header__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .heading {
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 6rem;

            &--main {
                display: block;
                font-size: 3rem;
                font-weight: 400;
                letter-spacing: 1.75rem;
                animation-name: moveFromLeft;
                animation-duration: 1s;
                animation-timing-function: ease-out;
                margin-bottom: 3rem;
            }

            &--sub {
                display: block;
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 1rem;
            }

            &--name {
                display: block;
                height: 30px;
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 1rem;
            }
        }

        button {
            border: none;
            text-align: center;
            text-transform: uppercase;
            width: 200px;
            height: 60px;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 1rem;
            border-radius: 10px;
            color: white;
            background-color: $color-bisque;
        }
    }
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.results {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(5, 1fr);

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 40px);
        grid-gap: 20px;
        margin-bottom: 2rem;
      
    }

    &__element {
        background-color: $color-bisque;
        border: 3px solid $color-orange;
        list-style: none;
        
        grid-row: 1/2;
    }

    &__element--last {
      grid-row: 2/3;
      grid-column: 1/4;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/5;
    }

}

.results__element--last {
 align-self: center;
}

a:hover, a:focus {
  text-underline-offset: 0.25em;
}
[aria-label="close"] {
  appearance: none;
  float: right;
  border: 1px solid;
  border-radius: 50%;
}
dialog :focus {
  outline: 2px solid #226DAA;
}



$hrs: pony horse mini-horse maxi-pony;

[class^="horses"] {
  padding: 30px;
  float: left;
  margin-right: 20px;
  background: Cyan;
}

.horses-first {
  &:after {
    content: "first($hrs) = #{first($hrs)}";
  }
}

.horses-nth-1 {
    &:after {
      content: "nth($hrs, 1) = #{nth($hrs, 1)}";
    }
  }
  
  .horses-nth-2 {
    &:after {
      content: "nth($hrs, -1) = #{nth($hrs, -1)}";
    }
  }

  @for $i from 1 through length($hrs) {
    .horses-#{$i} {
        border:3px solid pink;
      &:after {
        content: "#{$i}. #{nth($hrs, $i)}";
      }
    }
  }

  code {
    display: block;
  }
  
  .clear {
    clear: both;
    margin: 0;
  }