@import 'base';
@import 'abstracts';
@import 'main';


body {
  box-sizing: border-box;
  padding: 3rem;
}

.header {
  height: 95vh;
  position: relative;
  background-color: $color-turcoise-light;
  @include flexAbsoluteCenter();
  flex-direction: column;

  &__heading {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &--main {
      display: block;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 1.75rem;
      animation-name: moveFromLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      margin-bottom: 3rem;
    }

    &--sub {
      display: block;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1rem;
    }

    &--sub.tooltip {
      position: relative;

      .tooltip--content {
        display: none;
      }

      &:hover {
        .tooltip--content {
          display: block;
          font-size: 1rem;
          background: #fff;
          color: grey;
          font-weight: 500;
          text-transform: lowercase;
          letter-spacing: normal;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
          display: block;
          max-height: 130px;
          overflow: auto;
          padding: 10px;
          position: absolute;
          top: 100%;
          left: 50%;
          width: 400px;

          ul {
            list-style: none;

            li {
              text-align: start;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

  &__buttonStart {
    border: none;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1rem;
    border-radius: 10px;
    background-color: $color-bisque;
    border: 2px solid rgb(237, 202, 158);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: $color-bisque;
  }
}
















// .main__operations {
//   display: grid;
//   grid-template-columns: 300px;
//   grid-template-rows: repeat(5, 1fr);

//   &__list {
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(2, 40px);
//     grid-gap: 20px;
//     margin-bottom: 2rem;

//   }

//   &__element {
//     background-color: $color-bisque;
//     border: 3px solid $color-orange;
//     list-style: none;

//     grid-row: 1/2;
//   }

//   &__element--last {
//     grid-row: 2/3;
//     grid-column: 1/4;
//     height: 40px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   &__text {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     grid-column: 1/5;
//   }

// }


a:hover,
a:focus {
  text-underline-offset: 0.25em;
}