.header, .main {
  display: none;
}

h2, h3, h4 {
  margin: 0;
}

.active {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.header.active {
  height: 90vh;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  background: repeating-linear-gradient(to right, rgb(159, 189, 189) 0, rgb(159, 189, 189) 60px, rgb(157, 203, 203) 30px, rgb(157, 203, 203) 70px);
  background-size: 100% 200px;
}

.header.active .header__heading {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  color: rgb(234, 234, 234);
  text-transform: uppercase;
  position: absolute;
  top: 6rem;
  left: 1rem;
  animation-name: moveFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-bottom: 3rem;
}

.header.active .header__main {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 400px;
  height: 300px;
  background-color: rgb(234, 234, 234);
  border: 1px solid rgba(234, 234, 234, 0.227);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 50px 0 0 50px;
}

.header.active .header__main__start {
  font-size: 6rem;
  color: rgb(119, 117, 117);
}

.header.active .header__main__headline {
  font-size: 1.2rem;
  color: rgb(119, 117, 117);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header, .main {
  display: none;
}

h2, h3, h4 {
  margin: 0;
}

.active {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.main.active {
  width: 90%;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  background-image: repeating-linear-gradient(to right, rgb(245, 245, 182) 0, rgb(245, 245, 182) 60px, rgb(240, 240, 115) 30px, rgb(240, 240, 115) 70px);
  background-size: 100% 200px;
  display: grid;
  grid-template-rows: 70% 30%;
}

.main__content {
  grid-row: 1/2;
  margin: 5% 10% 5% 10%;
  border: 30px solid rgb(120, 69, 33);
  z-index: 8;
  background-color: rgb(157, 203, 203);
  display: grid;
  grid-template-rows: 15% 10% 30% 45%;
}

.content__heading {
  grid-row: 1/2;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(234, 234, 234);
}

.content .heading__result {
  height: 30px;
  width: 30px;
}

.content__subheading {
  grid-row: 2/3;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(234, 234, 234);
}

.content__operation {
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.content__operation > * {
  font-size: 5rem;
  padding: 20px;
  color: rgb(119, 117, 117);
}

.main__footer {
  grid-row: 2/3;
  display: flex;
}

.footer__icons {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer .icons__home, .footer .icons__refresh {
  font-size: 3rem;
  padding: 5px;
  color: rgb(119, 117, 117);
  width: 70px;
  height: 70px;
  margin: 10px;
  border: 5px solid rgb(119, 117, 117);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__operators {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__operators__icons {
  font-size: 5rem;
  padding: 5px;
  color: rgb(240, 240, 115);
  width: 140px;
  height: 140px;
  margin: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 203, 203);
}

.main__operation,
.main__operators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__operation > *,
.main__operators > * {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.main__container {
  display: flex;
}

.main__operations {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  display: none;
}

.operations__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 40px);
  grid-gap: 5px;
  margin-bottom: 2rem;
}

.operations__element {
  background-color: bisque;
  border: 2px solid rgb(237, 202, 158);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  list-style: none;
  grid-row: 1/2;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operations__element--last {
  grid-row: 2/3;
  grid-column: 1/3;
  font-size: 1.3rem;
  color: rgb(159, 189, 189);
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  width: 50%;
  position: relative;
  display: none;
}

.main__timer {
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
  color: white;
}

.main__form label {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  height: 70px;
  margin-bottom: 1rem;
}

.main__form label input {
  width: 30%;
  margin-top: 10px;
}

.main__history {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main__buttonSubmit {
  width: 200px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: bisque;
  border: 2px solid rgb(237, 202, 158);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: rgb(159, 189, 189);
  text-transform: uppercase;
  background-color: bisque;
}

dialog[open] {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  display: none;
}

dialog[open]#modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__headline {
  font-size: 1.5rem;
  font-weight: 600;
}

body {
  box-sizing: border-box;
}

a:hover,
a:focus {
  text-underline-offset: 0.25em;
}

/*# sourceMappingURL=index.css.map */
