body {
	position: relative;
	background-image: url(/pay-gf62cda6f3_640.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.calculator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 600px;
	width: 90%;

	overflow: hidden;

	/* From https://css.glass */

	background: rgba(0, 0, 0, 0.49);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(13.6px);
	-webkit-backdrop-filter: blur(13.6px);

	.display {
		position: relative;
		height: 30%;
		outline: 1px solid black;

		&__menu {
			position: absolute;
			inset: 5% auto auto 5%;
			display: flex;
			gap: 20px;
		}
		&__item {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			width: 20px;
			height: 20px;

			line-height: 10px;

			border-radius: 150px;
			background: gray;
		}
		&__button {
			width: 20px;
			height: 20px;
		}
		&__current-value {
			position: absolute;
			inset: auto 10% 10% auto;
			font-size: 3rem;
		}
	}

	.buttons-section {
		height: 70%;
		&__buttons-list {
			display: grid;
			height: 100%;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(5, 1fr);
		}
	}
	.buttons-list {
		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			border: 1px solid rgba(78, 78, 78, 0.7);
		}
	}
	.item {
		&__button {
			width: 100%;
			height: 100%;
			border-radius: 0;
			&--number {
				background: rgb(128, 128, 128);
			}
			&--sign {
				background: #8bb950;
			}
		}
		&--sign-enter {
			grid-column: 4/5;
			grid-row: 4/6;
		}
		&--number-zero {
			grid-column: 1/3;
			grid-row: 5/6;
		}
	}
}
