@import '../base/';
@import '../abstracts/';


.header {
  height: 95vh;
  position: relative;
  background-color: $color-turcoise-light;
  @include flexAbsoluteCenter();
  flex-direction: column;
}

.heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 3rem;
  }

  &--sub {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
    position: relative;

    div {
      @include flexAbsoluteCenter;
    }
  }
}

.tooltip > * {
  padding: 5px;
}

.tooltip--content {
  display: none;
}

.tooltip--icon:hover+.tooltip--content {
  display: block;
  position: absolute;
  top: 3%;
  left: 70%;
  font-size: 1.2rem;
  background: #fff;
  color: $color-grey;
  font-weight: 500;
  text-transform: none;
  letter-spacing: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-height: 200px;
  overflow: auto;
  padding: 10px;
  .headline {
    text-align: start;
    padding-left: 40px;
  }

  ol {
    li {
      text-align: start;
      padding: 10px;
    }
  }
}

.fa.fa-info {
  width: 40px;
  height: 40px;
  font-size: 3rem;
  color: $color-bisque;
}

.buttonStart {
  border: none;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 10px;
  background-color: $color-bisque;
  border: 2px solid $color-bisque-dark;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: $color-bisque;
  a {
   color: $color-turcoise-light; 
  }
}