@import '../abstracts/';

dialog[open] {
   
   width: 100%;
height: 100%;
   @include flexAbsoluteCenter;
   
}

#modal {
   display: none;
}

dialog[open]#modal {
   
   width: 100%;
height: 100%;
   @include flexAbsoluteCenter;
   flex-direction: column;
   
}

.modal__headline {
   font-size: 1.5rem;
   font-weight: 600;
}


