@import '../base/';
@import '../abstracts/';

.main {
    background-color: $color-bisque;
    padding: 2rem;
}
.main__heading {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: normal;
    color: $color-turcoise-light;
}

.main__subheading {
    text-align: center;
}

.main__operation, .main__operators {
    display: flex;
    justify-content: center;
    align-items: center;
      & > * {
        width: 100px;
        height: 100px;
        padding: 10px;
        @include flexAbsoluteCenter();
        font-size: 4rem;
    }
}

.main__container {
    display: flex;
  
}

.main__operations {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    display: none;
}

.operations {

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 40px);
        grid-gap: 5px;
        margin-bottom: 2rem;
    }

    &__element {
        background-color: $color-bisque;
        border: 2px solid rgb(237, 202, 158);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        list-style: none;
        grid-row: 1/2;
        font-size: 1.5rem;
        font-weight: 600;
        @include flexAbsoluteCenter()
    }

    &__element--last {
        grid-row: 2/3;
        grid-column: 1/3;
        font-size: 1.3rem;
        color: $color-turcoise-light;
        font-weight: 600;
        border-radius: 10px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.results {
    width: 50%;
    position: relative;
    display: none;
}

.main__timer {
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    color: white;
}

.main__form {
    label {
        font-size: 1.2rem;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        height: 70px;
        margin-bottom: 1rem;

        input {
            width: 30%;
            margin-top: 10px;
        }
    }
}

.main__history {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.main__buttonSubmit {
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: $color-bisque;
    border: 2px solid rgb(237, 202, 158);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: $color-turcoise-light;
    text-transform: uppercase;
    background-color: $color-bisque;
}